.password_reset #forgot_password{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 400px;
    height: 500px;
    margin-left: 55%;
    padding-top: 3%;
    text-align: center;
}

.password_reset #forgot_password #forgot_input{
    width: 80%;
    margin-left: 10%;
    border-radius: 20px;
    

}

.password_reset #forgot_password .small_text{
    color: gray;
    
    margin-top: -3%;
}
.password_reset #forgot_password #password_reset_btn{
    margin-top: 10%;

}
.password_reset #forgot_password p{
    width: 90%;
    margin-left: 5%;
    margin-top: -2%;
}