.card{
    display: block;
    box-sizing: border-box;
    height: 100%;
}

.card-img-top{
    align-self: center;
    border-radius: 10px;
    margin: 20px 10px;
    width: 90%;
}

.card-body{
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.card-title{
    color: #000000;
    font-size: 1.5rem;
    margin: 0px 0px;
}

.card-text{
    color: #000000;
    font-size: 1rem;
    margin: 8px 0px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
 
.row > div[class*='col-'] {
   display: flex;
}

.col-md-3{
    max-width: calc(25% - 15px);
}